<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C http Server </title>
</head>
<body>
    <section class="home_page_section">
        <h1>
            THIS IS A FILE SERVED FORM THE HTML FILE DIRECTLY WITH IT'S STYLE HOPING THAT IT WORKS
        </h1>
    </section>
</body>
</html>


<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: #000;
        color: #eee;
    }

    .home_page_section{
        height: 100dvh;
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }


</style>
 
